.containerGeral {
    display: flex;
    font-family: 'Roboto';
}

.imgAlanpa {
    margin: 20px auto;
    height: 300px;
    width: 300px;
    display: block;
    border-radius: 50%;
}

.nome {
    margin: 10px 0;
    text-align: center;
    padding-left: 0px;
}

.container1 {
    background-color: rgba(102, 102, 102, 0.514);
    height: 900px;
    width: 5%;  
}

.divDois hr {
    height: 2%;
    width: 48%;
    background-color: black;
}

.container2 {
    background-color: rgba(131, 136, 138, 0.548);
    height: 880px;
    width: 35%;
    padding: 10px;
}

.container3 {
    background-color: rgba(197, 197, 197, 0.801);
    height: 900px;
    width: 60%;
}

.contato div {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 6px; /* antes estava 10px, diminui */
}

.contato p,
.contato a {
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

.icon {
    height: 25px;
}

.icon-large {
    height: 40px;
}

.idiomas {
    margin-top: 20px;
    padding-left: 6px;
}

.idiomas-titulo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.idioma {
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre o texto e as estrelas */
    margin-bottom: 8px;
}

.estrelas {
    display: flex;
    gap: 4px;
}

.estrela {
    height: 18px;
}

.objetivoTitulo{
    padding-left: 40%;
    padding-top: 30px; 
}

#paragrafo{
    font-size: 1.6vw;
}

.informacoes {
    font-size: 200%;
    padding-left: 6px;
}

.informacoes #tituloInfo {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 5px;
}

.iconUser{
    height: 50px;
}

.educacao {
    font-size: 170%;
    padding-left: 6px;
    padding: auto;
}

.educacao h2 {
    margin: 0;
}

.educacaoTitulo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 5px;
}

.iconEdu {
    height: 50px;
}

.experiencia {
    font-size: 170%;
    padding-left: 6px;
    margin-bottom: 5px;
}

.experienciaTitulo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.experienciaTitulo h2{
    margin: 0;
}

.iconExp {
    height: 50px;
}

#experiencia1 {
    margin-top: 0px;
    font-size: 25px;
}

.experiencia #senai {
    margin-left: 0px;
    font-size: 25px;
}

.habilidades {
    font-size: 170%;
    padding-left: 6px;
    margin-top: 10px;
}

.habilidadesTitulo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
}

.iconHab {
    height: 50px;
}

.habilidades ul {
    margin: 0;
    padding-left: 20px;
    font-size: 22px;
}


.experiencia h2,
.experiencia p,
.habilidades h2,
.habilidades p {
    margin-top: 20px;
    margin-bottom: 20px;
}

h2 {
    margin: 0;
    font-size: 24px; 
    font-weight: bold;
    line-height: 1.3;
}
