.containerGeral {
    display: flex;
}

.imgAlanpa {
    margin: 20px auto;
    height: 300px;
    display: block;
    border-radius: 8px;
}

.nome {
    margin: 10px 0;
    padding-left: 6px;
}

.container1 {
    background-color: rgb(213, 255, 253);
    height: 900px;
    width: 5%;
}

.container2 {
    background-color: rgba(19, 148, 165, 0.548);
    height: 900px;
    width: 35%;
    padding: 10px;
}

.container3 {
    background-color: rgb(216, 216, 216);
    height: 900px;
    width: 60%;
}

.contato div {
    padding-left: 6px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding-bottom: 12px;
}

.icon {
    height: 25px;
}

.icon-large {
    height: 40px;
}

.idiomas {
    margin-top: 20px;
    padding-left: 6px;
}

.idiomas-titulo {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 8px;
}

.informacoes{
    font-size: 200%;
    padding-left: 6px;
}

.educacao{
    font-size: 200%;
    padding-left: 6px;
    padding: auto;
}